body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 7rem;
    
   
}
.card{
    width: 21rem;
    height: 28rem;
    border-radius: 20px;
 box-shadow: 7px 7px 0 0 rgba(0, 0, 0);
 outline-style: solid;
   outline-width: 0.8px;
   outline-color: black;
    padding: 10px;
    display: flex;
    text-align: left;
    justify-content: left;
    line-height: 1.6;
    font-family: "Figtree", sans-serif;

   
}
.card-img-top{
    width: 19rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top:0.6rem;
    align-self: center;
}
.btn{
    margin-bottom: 0.5rem;
    width: 4rem;
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: 2px;
    background-color: hsl(47, 88%, 63%);
    padding: 0;
}
.card-title{
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color:hsl(0, 0%, 7%) ;
}
.card-text{
    font-size: 0.8rem;
    color:  hsl(0, 0%, 42%);
    font-weight: 500;
}
.card-text-2{
    font-size: 0.7rem;
     color:hsl(0, 0%, 7%) ;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.author{
    margin-top: 2rem;
    bottom: 2rem;
     margin-top: 1.5rem;
     
}
.author-image{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
   
    
   
}
.author strong{
    font-size: 0.8rem;
    color:hsl(0, 0%, 7%) ;
    font-weight: 800;
   
}
 @font-face {
    font-family: "Figtree";
    src: url(assets\fonts\Figtree-Italic-VariableFont_wght.ttf) format("Woff2"),
         url(assets\fonts\Figtree-VariableFont_wght.ttf) format("Woff2");
 }